/* @import "react-big-calendar/lib/addons/dragAndDrop/styles"; */
/* @import 'react-big-calendar/lib/sass/styles'; */

/* toolbar */
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
	background-color: rgb(244, 244, 244);
}

.rbc-btn-group > button:not(:first-child):not(:last-child),
.rbc-btn-group > button:first-child:not(:last-child),
.rbc-btn-group > button:last-child:not(:first-child) {
	border-radius: 0.8rem;
	width: 5rem;
}

.rbc-btn-group button:focus,
.rbc-btn-group button:hover {
	box-shadow: none;
	background-color: rgb(243, 243, 243);
	color: #2c2c2c;
}

.rbc-btn-group button {
	padding: 0.5rem;
	margin: 0.3rem;
	border-radius: 0.5rem;
	outline: none;
	border: none;
	transition: background-color 0.3s ease;
}

.rbc-btn-group {
	border-radius: 1rem;
	background-color: rgba(144, 144, 144, 0.4);
	padding: 0.4rem;
}

/* main part of calendar */
.rbc-header + .rbc-header,
.rbc-day-bg + .rbc-day-bg,
.rbc-time-view,
.rbc-header button span {
	border: none;
}

.rbc-time-content {
	background-color: white;
}

/* today part of calendar */
.rbc-today {
	background-color: rgb(235, 234, 247);
	border-radius: 0.8rem;
}

/* today part + hover for header */
.rbc-header + .rbc-today,
.rbc-time-header-cell div:hover {
	color: rgb(151, 126, 179);
	background-color: rgb(255, 255, 255);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.rbc-current-time-indicator {
	background-color: rgb(111, 111, 111);
}

.rbc-allday-cell {
	display: none;
}

/* header of calendar */
.rbc-time-header-cell div {
	background-color: rgba(144, 144, 144, 0.4);
	height: 5rem;
	width: 4rem;
	border-radius: 0.7rem;
	margin: 0.3rem;
	transition: background-color 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rbc-time-header {
	background-color: transparent;
}

.rbc-time-header.rbc-overflowing {
	border-right: none;
}

.rbc-header button span {
	font-size: 1rem;
	font-weight: 500;
}

/* time part on calendar */
.rbc-time-content,
.rbc-time-header-content,
.rbc-time-content > * + * > *,
.rbc-timeslot-group {
	border: none;
	border-left: none;
}

.rbc-time-content {
	border-radius: 1rem;
	height: 45rem;
	flex: none;
}

.rbc-time-view {
	height: 25rem;
}

.rbc-timeslot-group {
	margin-top: 3rem;
	border-bottom: solid rgba(196, 196, 196, 0.602) 1px;
}

.rbc-day-slot .rbc-time-slot {
	border-top: none;
}

.rbc-time-view .rbc-time-gutter {
	color: rgba(149, 149, 149, 0.941);
}
